# 트립 어드바이저 MongoDB로 연동 중 망고플레이트로 주제 변경

In [48]:
import requests as rq
import time
import sys
import pymongo as pm

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup as BS

# 1. 크롬에서 트리바고로 이동

In [49]:
path = 'C:\ChromeDriver\chromedriver.exe'
PAUSE_TIME = 1.0

In [50]:
driver = webdriver.Chrome(path)
time.sleep(PAUSE_TIME)

In [60]:
url = "https://www.tripadvisor.co.kr/Restaurants-g1066457-Shinjuku_Tokyo_Tokyo_Prefecture_Kanto.html" #지역

In [61]:
driver.get(url) #url로 이동
time.sleep(PAUSE_TIME)

In [62]:
text = driver.page_source
soup = BS(text, 'html.parser')

# 2. 위치 및 30위 까지 순위

In [63]:
head = soup.find('h1', {'id':'HEADING'})
head_n = head.text.strip()
print(" < ", end ="")
for ht in head_n:
    if ht != '\n':
        print(ht, end="")
    else:
        print(end = " ")

print(" > ", end ="")

 < 신주쿠 음식점 Shinjuku >

In [64]:
revs = soup.findAll('div', {'class':'title'}) #음식점 명들 긁어오기

# 3. MongoDB 연결

In [ ]:
conn = pm.MongoClient("mongodb://13.125.29.252", 27017) #Aws ubuntu mongodb에 접속

In [ ]:
db = conn.trivago_db #tirvago_db에 접속

In [ ]:
users = db.

In [ ]:
driver.get(link) #음식점 링크로 이동
time.sleep(PAUSE_TIME)
try:
    name = driver.find_element_by_xpath('//*[@id="HEADING"]').text
except:
    name = driver.find_element_by_xpath('//*[@id="taplc_resp_rr_top_info_rr_resp_0"]/div/div[1]/h1').text #음식점 이름
    
print("<", name,">")
    
#이름 전처리
if name[0] in [0-9]:
    n = '_' + name
else:
    pass
    
if ' ' in name:
    nam = name.replace(', ', '_')
    nam = nam.replace(' ', '_')
    nam = nam.replace('-', '_')
else:
    pass

users = db.name
    
    
ct = 'create table trivago_db.' + str(n) + ' (id varchar(20) not null, title varchar(150) not null, subtext text not null, primary key(id))'
sql = 'insert into trivago_db.' + str(n) + ' (id, title, subtext) values (%s, %s, %s)'
curs.execute(ct) #DB 테이블 음식점별로 생성
driver.find_element_by_class_name('noQuotes').click()
time.sleep(PAUSE_TIME)
#들어갔을 때 맨 처음 리뷰 클릭
try:
    num = driver.find_element_by_xpath('//*[@id="taplc_location_reviews_list_sur_0"]/div/p/b[1]')
    n = int(num.text)
    if (n % 5) != 0 :
        n = int(n / 5) + 1
    else:
        n = int(n / 5)
except:
    n = 1
    pass
    

    
for i in range(n):
    text = driver.page_source
    soup = BS(text, 'html.parser')
    time.sleep(PAUSE_TIME)
    id = soup.findAll('span', 'expand_inline scrname')
    rtl = driver.find_elements_by_class_name('noQuotes') #리뷰 소제목
    stl = driver.find_elements_by_class_name('entry') #리뷰 세부내용
        
    for a in stl:
        try:
            for word in estring:
                if word in a.text:
                    stl.remove(a)
        except:
            pass
        
    for i in range(len(rtl)):
            try:
                print('ID : ' + id[i].text)
                print("title :", rtl[i].text.strip())
                print("subtext :", stl[i].text.strip() +'\n')
                curs.execute(sql, (id[i].text, rtl[i].text.strip(), stl[i].text.strip()))
                conn.commit()
            except:
                continue
                
        
    try:
        driver.find_element_by_xpath('//*[@id="taplc_location_reviews_list_sur_0"]/div/div[11]/div/div/a[2]/div').click()
        time.sleep(PAUSE_TIME)
    except:
        pass
        
print('='*50)

conn.close()